*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: linear-gredient(rgba(50,0,20), rgba(0,0,0,0)) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
}
.sidebar{
    background-color: rgb(100, 0, 0);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 1px 20px rgba(61, 0, 0, 0.623);
}

.sidebar h2{
    color: white;
    font-size: 32px;
    text-transform: capitalize;
    padding-top: 13px;
    margin-left: 10px;
}

.sidebar span{
    font-size: 20px;
    font-style: italic;
}
.sidebar p1{
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-left: 10px;
}
.sidebar ul{
    text-align: right;
    margin-right: 30px;
    margin-top: -30px;
}
.sidebar ul li{
    display: inline;
    padding-left: 10%;
    font-size: 21px;
    padding: 0 25px;
    margin-top: 5px;
    text-decoration: none;
    list-style: none;
    transition: 1s;
}
.sidebar ul li a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(247, 242, 242);
}
.cool::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s ease-out;
}
.cool:hover::after{
    width: 100%;
    transition: width .3s;
 }

.box{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(231, 230, 230);
    padding: 0 20px;
} 

.content{
    margin: 40px;
    margin-top: 30%;
    left:10%;
    position:relative;
}

.content > img{
    height: 410px;
    width: 305px;
    border-radius: 30px;
    position: absolute;
    box-shadow: 0 0 8px 3px;
}
.image-con{
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 410px;
    width: 305px;
    background-color: rgba(179, 0, 0, 0.555);
    border-radius: 30px;
    opacity: 0;
    transition: .2s;
}
.image-con:hover{
    opacity: 1;
}
.image-con h1{
    font-size: 40px;
    font-family: serif;
    font-weight: 500;
    margin-bottom: 15px;
    padding-top: 70px;
}
.image-con p{
    font-size: 20px;
    font-weight: 100;
    margin: 10px;
}
.image-con a{
    text-decoration: none;
    font-size: 27px;
    color: whitesmoke;
    font-weight: 800;
    transition: .2s ease-in;
}

.image-con a:hover{
    background: white;
    color: rgb(100, 0, 0);
    width: 10px;
    border: 1px solid rgb(177, 38, 38);
    border-radius: 20px;
    padding:  0 20px;
}
.head{
    position: absolute;
    margin-top: 9%;
    margin-left: 10px;
}
.head h1{
    color: rgb(100, 0, 0);
    font-size: 100px;
    font-weight: 1100;
}
.head h1 span{
    background-color: rgb(100, 0, 0);
    color: white;
    padding: 0 10px;
    font-weight: 300;
    border-radius: 10px 10px 10px 10px;

}
.head p{
    color:rgba(0, 0, 0);
    font-weight: 300;
    font-family: serif;
    font-size: 25px;
    text-align: left;
    padding-top: 18px;
    letter-spacing: 2px;
    max-width: 100%;
}
























